In [ ]:
my_string='Data science is the process of using scientific methods to analyze data to gain insights'
def extract_first_letters(sentence):
  '''
  This function takes a sentence as an input and returns the first letters of each word
  '''
  words_in_sentence=sentence.split(' ')
  first_letters=[word[0] for word in words_in_sentence]

  return first_letters
print(extract_first_letters(my_string))

['D', 's', 'i', 't', 'p', 'o', 'u', 's', 'm', 't', 'a', 'd', 't', 'g', 'i']

In [ ]:
def factorial(num):
  '''
  Function for calculating factorial of a number
  '''
  result=1
  if num<0:
    print('Factorial is not defined for negative numbers')
  elif num>0:
    for i in range(1,num+1):
      result*=i
    return result
  else:
    print('Factorial of 0 is 1')

factorial(7)

5040

In [ ]:
# Using List Comprehension
list_numbers=[1,2,3,4,8]
factorial_list=[factorial(number) for number in list_numbers if number%2!=0]
print(factorial_list)

[1, 6]

In [6]:
def assignQuarter(user_date):
  '''
  This function prints the quarter for a given date string
  '''
  date_year=user_date[:4]
  date_month=user_date[5:7]
  if(date_month>='01') & (date_month<='03'):
    quarter=date_year+'-Q1'
  elif(date_month>='04') & (date_month<='06'):
    quarter=date_year+'-Q2'
  elif(date_month>='07') & (date_month<='09'):
    quarter=date_year+'-Q3'
  else:
    quarter=date_year+'-Q4'
  return quarter
sample_date='2025-01-01'
assignQuarter(sample_date)

'2025-Q1'

In [7]:
my_list=[2,4,6,8,10]
def list_append(my_list,elem):
  '''
  This function appends an element to the list
  '''
  new_list=my_list+[elem]
  return new_list
list_append(my_list,12)

[2, 4, 6, 8, 10, 12]

In [9]:
# Scpe
def experiment():
  global x
  x=25
  return x
x=5
experiment()

25

In [11]:
x

25