In [ ]:
# for loop
great_houses=['Stark','Lannister','Targaryen','Baratheon','Greyjoy','Martell','Arryn','Tully','Tyrell']
for house in great_houses:
  print(f"House {house}")

House Stark
House Lannister
House Targaryen
House Baratheon
House Greyjoy
House Martell
House Arryn
House Tully
House Tyrell

In [ ]:
for number,house in enumerate(great_houses):
  print(f"The house number of house {house} is {number}")

In [ ]:
list(enumerate(great_houses))

[(0, 'Stark'),
 (1, 'Lannister'),
 (2, 'Targaryen'),
 (3, 'Baratheon'),
 (4, 'Greyjoy'),
 (5, 'Martell'),
 (6, 'Arryn'),
 (7, 'Tully'),
 (8, 'Tyrell')]

In [ ]:
list_numbers=[2,4,6,8,10]
for number in list_numbers:
  square=number**2
  print(f"Square of {number} is {square}")

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64
Square of 10 is 100

In [ ]:
list_numbers=[2,4,6,8,10]
square_of_numbers=[]
for number in list_numbers:
  square=number**2
  square_of_numbers.append(square)
print(f"List of square of numbers is {square_of_numbers}")

List of square of numbers is [4, 16, 36, 64, 100]

In [ ]:
zipped_dict=dict(zip(list_numbers,square_of_numbers))
print(zipped_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
list1_numbers=[1,2,4,5,6,7,8,9,10]
for number in list1_numbers:
  if number%2==0:
    square=number**2
    print(f"Square of {number} is {square}")
  else:
    print("Odd number")

Odd number
Square of 2 is 4
Square of 4 is 16
Odd number
Square of 6 is 36
Odd number
Square of 8 is 64
Odd number
Square of 10 is 100

In [ ]:
for number in range(1,11,2):
  square=number**2
  print(f"Square of {number} is  {square}")

Square of 1 is  1
Square of 3 is  9
Square of 5 is  25
Square of 7 is  49
Square of 9 is  81

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
sum_of_squares=0
for num in range(1,20):
  sum_of_squares = sum_of_squares + num**2
print(f"Sum of squares of 20 numbers is {sum_of_squares}")

Sum of squares of 20 numbers is 2470

In [ ]:
my_string='Hello World'
for index,char in enumerate(my_string):
  print(f"The index is {index} and the character is {char}")

The index is 0 and the character is H
The index is 1 and the character is e
The index is 2 and the character is l
The index is 3 and the character is l
The index is 4 and the character is o
The index is 5 and the character is
The index is 6 and the character is W
The index is 7 and the character is o
The index is 8 and the character is r
The index is 9 and the character is l
The index is 10 and the character is d

In [ ]:
my_string='Hello World'
split_string=my_string.split(' ')
print(split_string)

['Hello', 'World']

In [ ]:
for string in split_string:
  print(f"The word in string is {string}")

The word in string is Hello
The word in string is World

In [1]:
country_city_river_list=[('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri')]
for country,city,river in country_city_river_list:
  print(f"The capital of the country {country} is {city} and it also has river {river}")

The capital of the country India is New Delhi and it also has river Ganga
The capital of the country Australia is Canberra and it also has river Rovers
The capital of the country United States is Washington DC and it also has river Missouri

In [2]:
country_city_dict={1:'India',2:'USA'}
for item in country_city_dict:
  print(item,country_city_dict[item])

1 India
2 USA

In [3]:
country_city_dict.items()

dict_items([(1, 'India'), (2, 'USA')])

In [4]:
# while loop
x=0
while x<10:
  print(f'x is currently:{x}')
  print('x is still less than 10, adding 1 to x')
  x=x+1

x is currently:0
x is still less than 10, adding 1 to x
x is currently:1
x is still less than 10, adding 1 to x
x is currently:2
x is still less than 10, adding 1 to x
x is currently:3
x is still less than 10, adding 1 to x
x is currently:4
x is still less than 10, adding 1 to x
x is currently:5
x is still less than 10, adding 1 to x
x is currently:6
x is still less than 10, adding 1 to x
x is currently:7
x is still less than 10, adding 1 to x
x is currently:8
x is still less than 10, adding 1 to x
x is currently:9
x is still less than 10, adding 1 to x

In [11]:
x=3
while x<10:
  if x==3:
    print('x==3')
    x+=1
    continue
  else:
    break

x==3